* {
    box-sizing: border-box;
}

body,html {
    font-family: Georgia;
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Header/Blog Title */
.header {
    padding: 0px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #101423;
    width: 100%;
    margin-left: 0;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: lightgray;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family: Georgia;
    font-size: 20px;
}

/* Change color on hover */
.topnav a:hover {
    background-color: lightgray;
    color: black;
    text-decoration: underline;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.midcolumn {   
    display: inline-block;
    width: 100%;
    background-color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0; 
}

/* image */
.img {
    background-color: #101423;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}


/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 10px;
    margin-top: 0px;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 10px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .midcolumn {   
        width: 100%;
        padding: 5px;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
        padding: 15px;
    }
}

/* hyphens - Silbentrennung*/




a:link    {color:lightgray;    text-decoration:none; }
a:visited {color:lightgray;    text-decoration:none; }
a:hover   {color:#02025a; text-decoration:underline; }


h3{
    font-size: 23px; 
    font-family: 'Lobster', cursive;
    color: #000000;
    opacity: 1;
}



input{
    width: 70%;
    display: inline-block;
    height: 50px;
    background-color: #2B526B;
    color: #ffffff;
    font-family: Georgia;
    font-size: 110%;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding-left: 15px;
    margin-top: 1%;
    margin-left: 2%;
}

textarea{
    width: 96%;
    display: inline-block;
    height: 150px;
    background-color: #2B526B;
    color: #ffffff;
    font-family: Georgia;
    font-size: 100%;
    margin-top: 3%;
    margin-left: 2%;
    padding: 15px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding-left: 15px;
}

button{
    width: 50%;
    display: inline-block;
    height: 50px;
    background-color: #1E3949;
    color: #ffffff;
    font-family: Impact;
    font-size: 120%;
    margin-top: 3%;
    margin-left: 25%;
    padding: 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 5px 2px grey;
}